:host {
  background-color: var(--ui-band-background-color);
  color: var(--ui-band-font-color);
  display: block;
  padding: var(--padding);
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}

:host > section {
  margin: auto;
  max-width: 60%;
}

:host([size='xs']) > section {
  max-width: 40%;
}

:host([size='sm']) > section {
  max-width: 50%;
}

:host([size='lg']) > section {
  max-width: 70%;
}

:host([size='xl']) > section {
  max-width: 80%;
}

:host([size='xxl']) > section {
  max-width: 90%;
}
