:host {
  display: block;
  padding: var(--size-md);
}

:host[size="xs"] {
  padding: var(--size-xs);
}

:host[size="sm"] {
  padding: var(--size-sm);
}

:host[size="lg"] {
  padding: var(--size-lg);
}

:host[size="xl"] {
  padding: var(--size-xl);
}

:host[size="xxl"] {
  padding: var(--size-xxl);
}
